
:root {
	--color-i1w5merbp: 255, 233, 14;
	--color-imdo1r0gh: 255, 233, 14;
	--color-izhttdou8: 255, 233, 14;
	--color-iz3ez9fkc: 255, 233, 14;
	--color-ibdb58q0b: 255, 233, 14;
	--color-i07q65d8a: 255, 233, 14;
	--color-i16fi0gvj: 255, 233, 14;
	--color-i8p4658ul: 255, 233, 14;
	--color-i2rewj9b3: 255, 233, 14;
	--color-i42y0iufh: 255, 233, 14;
	--color-ijpyepjsy: 255, 233, 14;
	--color-iz2glgufa: 255, 233, 14;
	--color-i2v2y4n2h: 255, 233, 14;
	--color-i55gdb7rh: 255, 233, 14;
	--color-imza9ivpu: 255, 233, 14;
	--color-ismpt35qu: 255, 233, 14;
	--color-i10xm2obg: 255, 233, 14;
	--color-i7tc9u91i: 255, 233, 14;
	--color-il2rmvuus: 255, 233, 14;
	--color-ia1nzufnk: 255, 233, 14;
	--color-it4ncv2dq: 255, 233, 14;
	--color-ir8v87w75: 255, 233, 14;
	--color-ih1chu97h: 255, 233, 14;
	--color-iq3fmbb22: 255, 233, 14;
	--color-i5qmtjyks: 255, 233, 14;
	--color-i6sljv1z8: 255, 233, 14;
	--color-iyium3exj: 255, 233, 14;
	--color-ihk1t54av: 255, 233, 14;
	--color-i9xiallr7: 255, 233, 14;
	--color-iigkcf4bc: 255, 233, 14;
	--color-i3vgru25x: 255, 233, 14;
	--color-i6xs5g1xb: 255, 233, 14;
	--color-ixib51t95: 255, 233, 14;
	--color-ildofs37j: 255, 233, 14;
	--color-i6qa8t92l: 255, 233, 14;
	--color-i2gdj40ra: 255, 233, 14;
	--color-idhskz3ga: 255, 233, 14;
	--color-iut38az23: 255, 233, 14;
	--color-i77l16iwj: 255, 233, 14;
	--color-iw1kzce92: 255, 233, 14;
	--color-i4r206k5i: 255, 233, 14;
	--color-ie75npbkz: 255, 233, 14;
	--color-i4wxx4et0: 255, 233, 14;
	--color-icbl6maxy: 255, 233, 14;
	--color-ivpf9qv42: 255, 233, 14;
	--color-iwiikwysk: 255, 233, 14;
	--color-i6fj59r9o: 255, 233, 14;
	--color-injtm67di: 255, 233, 14;
	--color-ifiq1oi3b: 255, 233, 14;
	--color-iowvqzp7a: 255, 233, 14;
	--color-ib20dkzzm: 255, 233, 14;
	--color-imimtlncf: 255, 233, 14;
	--color-i0y77dfc5: 255, 233, 14;
	--color-iyq3d8fi6: 255, 233, 14;
	--color-ivan54o73: 255, 233, 14;
	--color-iq7x179vj: 255, 233, 14;
	--color-ipqs9c6jf: 255, 233, 14;
	--color-iywi4bbef: 255, 233, 14;
	--color-ivnavjbw7: 255, 233, 14;
	--color-iensnxry4: 255, 233, 14;
	--color-i8yv9zn73: 255, 233, 14;
	--color-ifv4lktsg: 255, 233, 14;
	--color-iec1hpaay: 255, 233, 14;
	--color-i8haghdt7: 255, 233, 14;
	--color-i7xlmsm4g: 255, 233, 14;
	--color-i2utxvc16: 255, 233, 14;
	--color-iuq6f12zy: 255, 233, 14;
	--color-i324f7n8o: 255, 233, 14;
	--color-ifg34calw: 255, 233, 14;
	--color-ipdnq5b8v: 255, 233, 14;
	--color-iz7lpg5m7: 255, 233, 14;
	--color-iu74yc7nt: 255, 233, 14;
	--color-i4l42dpqu: 255, 233, 14;
	--color-igc15g5wg: 255, 233, 14;
	--color-imxbigyo1: 255, 233, 14;
	--color-i74eeytdk: 255, 233, 14;
	--color-ii61v24ea: 255, 233, 14;
	--color-i42ttoff8: 255, 233, 14;
	--color-if5f1715n: 255, 233, 14;
	--color-iwc3d0km5: 255, 233, 14;
	--color-ixu0q5lx6: 255, 233, 14;
	--color-i1g3fkncv: 255, 233, 14;
	--color-ie4sl8qdf: 255, 233, 14;
	--color-iq5wvl5id: 255, 233, 14;
	--color-ivqhngjzu: 255, 233, 14;
	--color-ieaqhyqlu: 255, 233, 14;
	--color-iy2szoavq: 255, 233, 14;
	--color-i2khekh66: 255, 233, 14;
	--color-i024wb134: 255, 233, 14;
	--color-i7jz9tky3: 255, 233, 14;
	--color-igr5fl56y: 255, 233, 14;
	--color-iwej2h81u: 255, 233, 14;
	--color-il1d8gwjw: 255, 233, 14;
	--color-ij8v8rybe: 255, 233, 14;
	--color-i323z3h98: 255, 15, 11;
	--color-ic0f9eik7: 255, 15, 11;
	--color-i2wb992z7: 255, 15, 11;
	--color-i556icsn4: 255, 15, 11;
	--color-if87xq9dv: 255, 15, 11;
	--color-iwtjstxpt: 255, 15, 11;
	--color-i5lhkujkm: 255, 15, 11;
	--color-ixuvrx5ge: 255, 15, 11;
	--color-ipfllt5j0: 255, 15, 11;
	--color-i54s7xu3s: 255, 15, 11;
	--color-i24zhwexn: 255, 15, 11;
	--color-i42c45t6y: 255, 15, 11;
	--color-ik994p8pv: 255, 15, 11;
	--color-ixqmgj1sw: 255, 15, 11;
	--color-ittivu4n9: 255, 15, 11;
	--color-i1dvx72ho: 255, 15, 11;
	--color-iubvqj1jc: 255, 15, 11;
	--color-i0121pubo: 255, 15, 11;
	--color-ix74q3l9f: 255, 15, 11;
	--color-i7bcs4q4b: 255, 15, 11;
	--color-iax2t2nmi: 255, 15, 11;
	--color-iwu1i14u2: 255, 15, 11;
	--color-ibj3l5wxh: 255, 15, 11;
	--color-iv33r6gut: 255, 15, 11;
	--color-iy4ch5f98: 255, 15, 11;
	--color-i8j8rgin9: 255, 15, 11;
	--color-ismywak3u: 255, 15, 11;
	--color-izj0oan8j: 255, 15, 11;
	--color-iurath8zv: 255, 15, 11;
	--color-igahbqnjg: 255, 15, 11;
	--color-i77itd59p: 255, 15, 11;
	--color-inzp9k4av: 255, 15, 11;
	--color-ixof9ekur: 255, 15, 11;
	--color-i6qp6tjiu: 255, 15, 11;
	--color-izepyn6c9: 255, 15, 11;
	--color-i7dzo2hay: 255, 15, 11;
	--color-ixzcapm2y: 255, 15, 11;
	--color-ik7z5i4ix: 255, 15, 11;
	--color-iz3ago3cu: 255, 15, 11;
	--color-iep0hfghj: 255, 15, 11;
	--color-iwkdkwkkv: 45, 45, 52;
	--color-i5fels4i4: 45, 45, 52;
	--color-i6eaa60im: 45, 45, 52;
	--color-i5zoniz7z: 45, 45, 52;
	--color-ixhgvvogk: 45, 45, 52;
	--color-izgmqhs4n: 45, 45, 52;
	--color-i7r4mlq1w: 45, 45, 52;
	--color-i2lucy3og: 45, 45, 52;
	--color-i4tt7rxgv: 45, 45, 52;
	--color-ijotfnvat: 45, 45, 52;
	--color-i9jl2p6lh: 45, 45, 52;
	--color-ipeu6lzfg: 45, 45, 52;
	--color-i5cj21kyb: 45, 45, 52;
	--color-ivm5nqxkd: 45, 45, 52;
	--color-iyzwcrlfy: 45, 45, 52;
	--color-ihy1jrss5: 45, 45, 52;
	--color-it4gotoak: 45, 45, 52;
	--color-igg4oqfey: 45, 45, 52;
	--color-inwx71o99: 45, 45, 52;
	--color-ixlhjfih6: 45, 45, 52;
	--color-i49mxaqqr: 45, 45, 52;
	--color-i38omj6do: 45, 45, 52;
	--color-i3g1kitqa: 45, 45, 52;
	--color-iz7jsguec: 45, 45, 52;
	--color-i65rtok0l: 239, 239, 239;
	--color-if1et95gc: 239, 239, 239;
	--color-iltv1rfva: 239, 239, 239;
	--color-i6zhy1k6m: 239, 239, 239;
	--color-ix6l9ssfn: 239, 239, 239;
	--color-igvvr56pd: 239, 239, 239;
	--color-iknmbjz7q: 239, 239, 239;
	--color-ibzu1kj53: 239, 239, 239;
	--color-ioyd8qrir: 239, 239, 239;
	--color-i7qft918q: 239, 239, 239;
	--color-i5513c5zv: 239, 239, 239;
	--color-igpgjxb35: 239, 239, 239;
	--color-i6m93x8rl: 239, 239, 239;
	--color-ihe5m6xn1: 239, 239, 239;
	--color-igercx9ee: 15, 15, 17;
	--color-ia06nwo3l: 15, 15, 17;
	--color-i0u3xothx: 15, 15, 17;
	--color-i1lck98nw: 15, 15, 17;
	--color-i6ss2kg5n: 15, 15, 17;
	--color-iys5me3cp: 15, 15, 17;
	--color-ije34xrgn: 15, 15, 17;
	--color-if5epp32a: 15, 15, 17;
	--color-ikzrte41d: 15, 15, 17;
	--color-io06w9bwy: 15, 15, 17;
	--color-iua0v7n9i: 15, 15, 17;
	--color-if4tu4cts: 15, 15, 17;
	--color-ifu3in8up: 15, 15, 17;
	--color-iwjyhq37w: 15, 15, 17;
	--color-itinde7hq: 15, 15, 17;
	--color-i2mm1en1l: 15, 15, 17;
	--color-ianvqfvih: 15, 15, 17;
	--color-imdcjcexm: 15, 15, 17;
	--color-im1czdx8j: 15, 15, 17;
	--color-iytqt80pt: 15, 15, 17;
	--color-irfz6jqym: 15, 15, 17;
	--color-i59udz93m: 15, 15, 17;
	--color-ij6u0ukff: 15, 15, 17;
	--color-igraz8lqe: 15, 15, 17;
	--color-igxtni2ue: 15, 15, 17;
	--color-il94oj4qq: 15, 15, 17;
	--color-ithgpmdkp: 15, 15, 17;
	--color-i8cohm066: 15, 15, 17;
	--color-i9hpptqqs: 15, 15, 17;
	--color-ic102d78p: 15, 15, 17;
	--color-ib2bu48b6: 15, 15, 17;
	--color-ism7110sz: 15, 15, 17;
	--color-isvxtkde5: 15, 15, 17;
	--color-i8wbqn407: 15, 15, 17;
	--color-i5istou4w: 15, 15, 17;
	--color-i8ldai1bk: 15, 15, 17;
	--color-iy3v1rxlp: 15, 15, 17;
	--color-ispma8whg: 15, 15, 17;
	--color-idkp2wzwm: 15, 15, 17;
	--color-i6p2flc59: 15, 15, 17;
	--color-i5l8temac: 15, 15, 17;
	--color-iivdrs83r: 15, 15, 17;
	--color-ik5hzyn8v: 15, 15, 17;
	--color-i2qna5uiv: 15, 15, 17;
	--color-i9gv21pns: 15, 15, 17;
	--color-ihwydas3u: 15, 15, 17;
	--color-itn66s348: 15, 15, 17;
	--color-iejki70xy: 15, 15, 17;
	--color-ielizzwxh: 15, 15, 17;
	--color-ib4s3o4gd: 15, 15, 17;
	--color-ivep3xzg7: 15, 15, 17;
	--color-iezqgy1d3: 15, 15, 17;
	--color-i7c95rpmg: 15, 15, 17;
	--color-if5q1244j: 15, 15, 17;
	--color-ibg8r4nsd: 15, 15, 17;
	--color-iiq5crkg6: 15, 15, 17;
	--color-isvyqf6pq: 15, 15, 17;
	--color-icuwpgm6m: 15, 15, 17;
	--color-iicbofigp: 15, 15, 17;
	--color-iltfxefh3: 15, 15, 17;
	--color-iihpwa205: 15, 15, 17;
	--color-i2yv2teo6: 15, 15, 17;
	--color-ikfzg1kns: 15, 15, 17;
	--color-iab7dkmm0: 15, 15, 17;
	--color-iz3yaim7k: 15, 15, 17;
	--color-iobawq2vy: 15, 15, 17;
	--color-ia8lqwhuw: 15, 15, 17;
	--color-i8gyc82jn: 15, 15, 17;
	--color-it0le2usv: 15, 15, 17;
	--color-i2fdkaqye: 15, 15, 17;
	--color-ifkkocgqn: 15, 15, 17;
	--color-i6kz9go8m: 15, 15, 17;
	--color-iyz2orpb8: 15, 15, 17;
	--color-i79qzsbki: 15, 15, 17;
	--color-igt1vda5e: 15, 15, 17;
	--color-i27bymd7c: 15, 15, 17;
	--color-icste7s0w: 15, 15, 17;
	--color-ikmkedvk4: 15, 15, 17;
	--color-isy8egrg0: 15, 15, 17;
	--color-ifel0sgmi: 15, 15, 17;
	--color-iy6v0uhoh: 15, 15, 17;
	--color-izn178i89: 15, 15, 17;
	--color-i27g0mvxx: 15, 15, 17;
	--color-iphqzn6c9: 15, 15, 17;
	--color-i0kj9y6kf: 15, 15, 17;
	--color-ixtmeadkm: 15, 15, 17;
	--color-i28d9u4cp: 15, 15, 17;
	--color-i0bs0m4av: 15, 15, 17;
	--color-i49dlkhwj: 15, 15, 17;
	--color-i2zpz8r72: 15, 15, 17;
	--color-is4hjrt56: 15, 15, 17;
	--color-i8tvimemz: 15, 15, 17;
	--color-iwi8je4m4: 15, 15, 17;
	--color-i0xd4jls8: 15, 15, 17;
	--color-i1yc3lhmx: 15, 15, 17;
	--color-iqpc6rb0o: 15, 15, 17;
	--color-ib3xnsn3p: 15, 15, 17;
	--color-iq8c5tmgw: 15, 15, 17;
	--color-iq6mgbjzm: 15, 15, 17;
	--color-ikxbageuj: 15, 15, 17;
	--color-i0x042mxv: 15, 15, 17;
	--color-ihfoqfskb: 15, 15, 17;
	--color-iq0cr20s9: 15, 15, 17;
	--color-is0v5t919: 15, 15, 17;
	--color-ipu7qsn0y: 15, 15, 17;
	--color-iqys43ztn: 15, 15, 17;
	--color-ik3st3qad: 15, 15, 17;
	--color-iqna83tgk: 15, 15, 17;
	--color-ir0kw07q9: 15, 15, 17;
	--color-inp082un8: 15, 15, 17;
	--color-i30ebelbn: 15, 15, 17;
	--color-ib83p5v0z: 15, 15, 17;
	--color-ijeijgv6x: 15, 15, 17;
	--color-i5zj0b2a8: 15, 15, 17;
	--color-iubjxm5xr: 15, 15, 17;
	--color-i02trtqo7: 15, 15, 17;
	--color-iyera8n8g: 15, 15, 17;
	--color-idtq1bga0: 15, 15, 17;
	--color-iyrzogeas: 15, 15, 17;
	--color-i3nfe12jy: 15, 15, 17;
	--color-ijd6cccm0: 15, 15, 17;
	--color-ixh2crlla: 15, 15, 17;
	--color-iz4xfkl5g: 15, 15, 17;
	--color-ilijqdj2r: 15, 15, 17;
	--color-iyhpstdo2: 15, 15, 17;
	--color-i12tw2fnk: 15, 15, 17;
	--color-if3fzwiio: 15, 15, 17;
	--color-imd1ryrm3: 15, 15, 17;
	--color-icazoivq8: 15, 15, 17;
	--color-iynbt62jz: 15, 15, 17;
	--color-i90lx3rb5: 15, 15, 17;
	--color-i1hlbeyma: 15, 15, 17;
	--color-iaqowvlcj: 15, 15, 17;
	--color-i5k2kzvgc: 15, 15, 17;
	--color-ij9v22pku: 15, 15, 17;
	--color-i1cdz07hw: 15, 15, 17;
	--color-igbhst3nb: 15, 15, 17;
	--color-i50jo54o0: 15, 15, 17;
	--color-iwjm4g6f4: 15, 15, 17;
	--color-i7vd3ldpg: 15, 15, 17;
	--color-ic7lob4l4: 15, 15, 17;
	--color-ifa9p5ur7: 15, 15, 17;
	--color-ig0k28xml: 15, 15, 17;
	--color-itoyd1y7s: 15, 15, 17;
	--color-i783ljrqu: 15, 15, 17;
	--color-i5ys2u2ho: 15, 15, 17;
	--color-i4xcydlzf: 15, 15, 17;
	--color-ile28k3kk: 15, 15, 17;
	--color-isralp1py: 15, 15, 17;
	--color-i3sqiem7p: 15, 15, 17;
	--color-ili287bik: 15, 15, 17;
	--color-iywfz4b0f: 15, 15, 17;
	--color-izk15mle3: 15, 15, 17;
	--color-iw38yu9ed: 15, 15, 17;
	--color-io416sp5i: 15, 15, 17;
	--color-i4s2uwp3q: 15, 15, 17;
	--color-ivzqup7mt: 15, 15, 17;
	--color-iv5byoasl: 15, 15, 17;
	--color-iirzogmjv: 15, 15, 17;
	--color-ilsmawnoc: 15, 15, 17;
	--color-ix6socy0b: 15, 15, 17;
	--color-igjz6c8hd: 15, 15, 17;
	--color-i2hwgb1a5: 15, 15, 17;
	--color-i57kefkhx: 15, 15, 17;
	--color-ih71jw6ee: 15, 15, 17;
	--color-ineh9hzzd: 15, 15, 17;
	--color-i26nozlgw: 15, 15, 17;
	--color-ioxc42xkw: 15, 15, 17;
	--color-i2vdy9a57: 15, 15, 17;
	--color-imt4dnugt: 15, 15, 17;
	--color-ii4js3caf: 15, 15, 17;
	--color-io7pennuh: 15, 15, 17;
	--color-ivjfwsddr: 15, 15, 17;
	--color-icjujwa1g: 15, 15, 17;
	--color-ig511xo5q: 15, 15, 17;
	--color-i3d2il2hv: 15, 15, 17;
	--color-ii8swzzve: 15, 15, 17;
	--color-i2yk6px4t: 15, 15, 17;
	--color-i96ophrve: 15, 15, 17;
	--color-ildgm3cm6: 15, 15, 17;
	--color-iozje6c9c: 15, 15, 17;
	--color-igzi0kk82: 15, 15, 17;
	--color-i3dibpbv6: 15, 15, 17;
	--color-i76djc9yy: 15, 15, 17;
	--color-i18fhdezg: 15, 15, 17;
	--color-ie0f0eqk7: 15, 15, 17;
	--color-iawdk4tbv: 15, 15, 17;
	--color-itskbe9h5: 15, 15, 17;
	--color-icsq3d3h2: 15, 15, 17;
	--color-irfbnmb1z: 15, 15, 17;
	--color-if7y47dt4: 15, 15, 17;
	--color-igvs1xa7d: 15, 15, 17;
	--color-i5nujoecv: 15, 15, 17;
	--color-in4bob014: 15, 15, 17;
	--color-i61ke5d0m: 15, 15, 17;
	--color-ie0m1z7xn: 15, 15, 17;
	--color-i3bgne3cm: 15, 15, 17;
	--color-i8w87cw9q: 15, 15, 17;
	--color-i2b7hhyxc: 15, 15, 17;
	--color-ind7bx248: 15, 15, 17;
	--color-iv6964670: 15, 15, 17;
	--color-i8x7v6rre: 15, 15, 17;
	--color-ihaj8w8h1: 15, 15, 17;
	--color-iijtzstra: 15, 15, 17;
	--color-i3iax48rn: 15, 15, 17;
	--color-ix4w9dm5l: 15, 15, 17;
	--color-iifzw9rmh: 15, 15, 17;
	--color-inc1c9lpn: 15, 15, 17;
	--color-ircqwm0k6: 15, 15, 17;
	--color-ird5sd51p: 15, 15, 17;
	--color-il9mpoh9z: 15, 15, 17;
	--color-iepazy5ho: 15, 15, 17;
	--color-i9v0momn9: 15, 15, 17;
	--color-ilsm9n1ju: 15, 15, 17;
	--color-iypeu4tr0: 15, 15, 17;
	--color-irtllk8w5: 15, 15, 17;
	--color-ins2uzx5v: 15, 15, 17;
	--color-i65bbf7ch: 15, 15, 17;
	--color-iqpnhxa95: 15, 15, 17;
	--color-i4hgo4ezn: 15, 15, 17;
	--color-itp6iqo2q: 15, 15, 17;
	--color-it0fvagwk: 15, 15, 17;
	--color-ifunbafax: 15, 15, 17;
	--color-is43mph00: 15, 15, 17;
	--color-isvlyh8cu: 15, 15, 17;
	--color-i9loo5yt3: 15, 15, 17;
	--color-i38guv8gt: 15, 15, 17;
	--color-ih1czv716: 15, 15, 17;
	--color-i34tcgkwn: 15, 15, 17;
	--color-i2evzcdpf: 15, 15, 17;
	--color-i5wxnwgkw: 15, 15, 17;
	--color-i8pwgnj9l: 15, 15, 17;
	--color-i80h8igjh: 15, 15, 17;
	--color-idz5tw4bb: 15, 15, 17;
	--color-i1jb7va44: 15, 15, 17;
	--color-ibmybfnv5: 15, 15, 17;
	--color-ihlep26oj: 15, 15, 17;
	--color-i56dqujby: 15, 15, 17;
	--color-i1gsr8qq5: 15, 15, 17;
	--color-isinale94: 15, 15, 17;
	--color-icueg0ijr: 15, 15, 17;
	--color-iuqvw0wny: 15, 15, 17;
	--color-ig7w02rao: 15, 15, 17;
	--color-i934nr8r8: 15, 15, 17;
	--color-i69f04et8: 15, 15, 17;
	--color-irl0plv06: 15, 15, 17;
	--color-itpgpedn3: 15, 15, 17;
	--color-i8e3ofciu: 15, 15, 17;
	--color-i4ilg6ute: 15, 15, 17;
	--color-il2hwa51k: 15, 15, 17;
	--color-ialxep0ex: 15, 15, 17;
	--color-iocjvdd1w: 15, 15, 17;
	--color-iwm3ptkkx: 15, 15, 17;
	--color-ib2m0qgd4: 15, 15, 17;
	--color-i0p4cnp77: 15, 15, 17;
	--color-iadsz051k: 15, 15, 17;
	--color-ij5fipqm5: 15, 15, 17;
	--color-ih0nywvuy: 15, 15, 17;
	--color-i74339l2e: 15, 15, 17;
	--color-iaapxvki4: 15, 15, 17;
	--color-ihi5unm30: 15, 15, 17;
	--color-id2xj2wzh: 15, 15, 17;
	--color-i8a1lg752: 15, 15, 17;
	--color-i976i6ki7: 15, 15, 17;
	--color-ixmi0lgtz: 15, 15, 17;
	--color-imr17lcwk: 15, 15, 17;
	--color-i6030vrqm: 15, 15, 17;
	--color-ix0gt59oq: 15, 15, 17;
	--color-idvluwn3g: 15, 15, 17;
	--color-i4cp46td7: 15, 15, 17;
	--color-iptofivi8: 15, 15, 17;
	--color-i4u4ktn49: 15, 15, 17;
	--color-ih61h2aur: 15, 15, 17;
	--color-iplu6qtto: 15, 15, 17;
	--color-i0quzlstj: 15, 15, 17;
	--color-iqtz7yi02: 15, 15, 17;
	--color-i3o2n5fr7: 15, 15, 17;
	--color-i32tbwyuj: 15, 15, 17;
	--color-iadre7pog: 15, 15, 17;
	--color-igiwh46g7: 15, 15, 17;
	--color-igyvbh2me: 15, 15, 17;
	--color-itgw05gml: 15, 15, 17;
	--color-iiebe2sy5: 15, 15, 17;
	--color-ibj3e08b2: 15, 15, 17;
	--color-icof49opj: 15, 15, 17;
	--color-iq43u1lua: 15, 15, 17;
	--color-i463tw6ql: 15, 15, 17;
	--color-iee13rd3w: 15, 15, 17;
	--color-ij2c4jc44: 15, 15, 17;
	--color-i6dvxlbm2: 15, 15, 17;
	--color-iphvc3oa5: 15, 15, 17;
	--color-i6ic0numq: 15, 15, 17;
	--color-ijqz5tyyl: 15, 15, 17;
	--color-irfm8rz0i: 15, 15, 17;
	--color-iiri7ribi: 15, 15, 17;
	--color-iyn8mv358: 15, 15, 17;
	--color-i4ot4m88e: 15, 15, 17;
	--color-ild3igne7: 15, 15, 17;
	--color-islvgw7f6: 15, 15, 17;
	--color-iix9jlf25: 15, 15, 17;
	--color-i8qwqwisk: 15, 15, 17;
	--color-itacortvu: 15, 15, 17;
	--color-i3csmgpx1: 15, 15, 17;
	--color-imxg3uwmx: 15, 15, 17;
	--color-iahb0impv: 15, 15, 17;
	--color-itwf6imsn: 15, 15, 17;
	--color-iimu5r0nh: 15, 15, 17;
	--color-i6rdjmi66: 15, 15, 17;
	--color-ixf4awj5m: 15, 15, 17;
	--color-iv0kwdmlk: 15, 15, 17;
	--color-ihu3qamrr: 15, 15, 17;
	--color-i1ux69p2k: 15, 15, 17;
	--color-in0kn0aal: 15, 15, 17;
	--color-i0aowhw72: 15, 15, 17;
	--color-ik57t1y9z: 15, 15, 17;
	--color-i175hy7rc: 15, 15, 17;
}
